<main id="main_page">
  <div class="container">
    <div class="block_article">
      <%= image_tag "derevo.jpg" %>
      <div class="title_text">
        <h2 class="title_h2">Алфавит</h2>
        <p>
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
        </p>
        <div class="about_article">
          <div class="see_article"></div>
          <div class="comment_article"></div>
        </div>
      </div>
    </div>
    <div class="block_article">
      <%= image_tag "derevo.jpg" %>
      <div class="title_text">
        <h2 class="title_h2">Алфавит</h2>
        <p>
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
        </p>
        <div class="about_article">
          <div class="see_article"></div>
          <div class="comment_article"></div>
        </div>
      </div>
    </div>
    <div class="block_article">
      <%= image_tag "derevo.jpg" %>
      <div class="title_text">
        <h2 class="title_h2">Алфавит</h2>
        <p>
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
          Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит Алфавит
        </p>
        <div class="about_article">
          <div class="see_article"></div>
          <div class="comment_article"></div>
        </div>
      </div>
    </div>
    <div class="block_article">
      
    </div>
    <div class="block_article">
      
    </div>
    <div class="block_article">
      
    </div>
    <div class="block_article">
      
    </div>
    <div class="block_article">
      
    </div>
    <div class="block_article">
      
    </div>
    <div class="block_article">
      
    </div>
  </div>
</main>